@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&amp;display=swap');

body {
  background-color: #FFBA08;
  font-family: 'Josefin Sans', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #6A040F;
  margin: 0 0 10px 0;
}

a {
  color: #6A040F;
}

a:hover {
  color: #6A040F;
  text-decoration: underline;
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  padding-right: 20px;
  font-weight: bold;
}

header {
  padding: 20px 0;
}

.header .main-nav {
  margin-top: 15px;
}

.menu-item-preview {
  margin-bottom: 20px;
}